<!DOCTYPE html>
<html lang="tr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %} Surveys |{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'vendor/bootstrap.min.css' %}">

    <style>
      body {
      background-color: #37474F;
      color: white;
      }
    </style>

</head>
<body>

<div class="jumbotron bg-transparent">
    <h1 class="display-4"><i>404</i></h1>
    <p class="lead">
        Sayfa Bulunamadı...
    </p>
</div>

<script src="{% static 'vendor/jquery.js' %}"></script>
<script src="{% static 'vendor/bootstrap.min.js' %}"></script>
</body>